/* Global */

.error-msg {
	font-size: 0.9em;
	color: #FF0000;
}

.success-msg {
	font-size: 0.9em;
	color: #009900;
}

.inline {
	display: flex;
	flex-direction: row;
}

.space-between {
	justify-content: space-between;
}

.space-around {
	justify-content: space-around;
}

.center-align {
	align-items: center;
}

.form-control {
	padding: 5px;
	height: 2em;
}

.padded-side {
	box-sizing: border-box;
	padding: 0px 20px 0px 20px;
}

/* Add Profile Part */

.add-by-file #choose-file {
	width: 220px;
	margin-right: 10px;
}

.add-by-file #upload-file {
	width: 120px;
}

.add-indiv label {
	flex: 0 0 40%;
}

.add-indiv .form-control {
	flex: 1 0 60%;
}

.add-indiv .entry-row {
	margin: 5px 0px 5px 0px;
}

.add-indiv .three-col {
	flex: 0 0 30%;
}

.add-indiv .two-col {
	flex: 0 0 45%;
}

.add-indiv #add-profile {
	width: 200px;
}