body {
	background-color: #fff;
	padding: 0px;
	height: 100vh;
}

.result-box, .filter-bar {
	height: 100vh;
	box-sizing: border-box;
	overflow-y: scroll;
	padding: 0px;
	height: 100%;
}

.result-box {
	background-color: #FEFEFF;
	padding: 0px;
}

.filter-bar {
	background-color: #FFF6CC;
}

.UIBody {
	padding top: 0px;
	margin: 0px;
	height: calc(100% - 43px);
}

.size-control {
	height: inherit;
}

.table {
	width: 100%;
}

.table th {
	background-color: #537CC6;
}

.control-bar, .add-by-file{	
	background-color: #FFB37B;
}

.control-bar {
	padding: 5px;
	height: 43px;
}

.control-bar .btn-primary {
	background-color: #244A91;
}

.control-bar .btn-primary:hover {
	background-color: #3368cc;
}

.danger-buttons, #templateDownload{
	float: right;
}

.filter-bar li {
	list-style-type: none;
	padding-left: 10px;
}

.filter-bar ul {
	padding-left: 0px;
}

.filter-bar h5 {
	margin-left: -10px;
	padding-left: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
}

.filter-bar h5:hover{
	background-color: #FFDA39;
}

.filters li {
	margin-right: 5%;
}

.filters li .detail {
	margin: 0px;
	padding: 3px 0px 3px 0px;
}

.filters li:hover {
	background-color: #FFDA39;
}

.hidden-filter {
	padding-left: 20px;
}

.hidden-filter p {
	margin: 0px;
	padding-bottom: 10px;
}

.hidden-filter p input[type=text], .hidden-filter p input[type=date] {
	width: 85%;
}

.hidden-filter p input[type=number] {
	width: 35px;
}

#templateDownload, #uploadFile, #uploadFile input {
	display: inline-block;
}

.add-by-file {
	padding: 5px 10px 30px 10px;
}

.add-by-file h5, .add-by-form h5 {
	font-weight: bold;
}

.add-by-form {
	padding: 5px 10px 5px 10px;
}

.panel-title {
	font-size: 2em;
}

.panel-body-colored {
	background-color: #CEDEFB;
}

.scrollable {
	overflow-x: hidden;
	overflow-y: scroll;
}

.column-input, .radio-btn-group {
	width: 100vh;
	max-width: 350px;
}

.radio-btn-group {
	table-layout: fixed;
}

.radio-btn-group label {
	width: 100px;
}

#add-student-btn {
	height: 3em;
	width: 300px;
	margin-right: auto;
	margin-left: auto;
}