/* Global */

body.full {
	padding: 0px;
	height: 100vh;
}

.error-msg {
	font-size: 0.9em;
	color: #FF0000;
}

.success-msg {
	font-size: 0.9em;
	color: #009900;
}

.inline {
	display: flex;
	flex-direction: row;
}

.space-between {
	justify-content: space-between;
}

.space-around {
	justify-content: space-around;
}

.center-align {
	align-items: center;
}

.form-control {
	padding: 5px;
	height: 2em;
}

.padded-side {
	box-sizing: border-box;
	padding: 0px 20px 0px 20px;
}

/* Add Profile Part */

.add-by-file #choose-file {
	width: 220px;
	margin-right: 10px;
}

.add-by-file #upload-file {
	width: 120px;
}

.add-indiv label {
	flex: 0 0 40%;
}

.add-indiv .form-control {
	flex: 1 0 60%;
}

.add-indiv .entry-row {
	margin: 5px 0px 5px 0px;
}

.add-indiv .three-col {
	flex: 0 0 30%;
}

.add-indiv .two-col {
	flex: 0 0 45%;
}

.add-indiv #add-profile {
	width: 200px;
}

/* Alert Profile Part */

.alert-profile h3 {
	margin-top: 10px;
}

.alert-profile .table {
	border: 1px solid #244A91;
}

.alert-profile .table thead {
	background-color: #244A91;
	color: #FFF;
}

.alert-profile .table td, .alert-profile .table thead th {
	border: 0px;
	border-top: 1px solid #577dc4;
}

.alert-profile #refresh-button {
	padding: 3px 12px 3px 12px;
	height: 2.5em;
}

.alert-profile table, .alert-profile #alert-bar {
	margin-top: 10px;
}

.alert-profile table .btn {
	width: 100%;
}

/* Search Profile */

#search-profile {
	height: inherit;
}

#search-profile .control-bar {
	padding: 10px;
	border-bottom: 2px solid #aaa;
}

#search-profile .main {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	height: calc(100% - 56px);
}

#search-profile .search-section {
	flex: 0 0 300px;

}

#search-profile .result-section {
	flex: 1 0 auto;
	overflow-x: scroll;
}

#search-profile .result-section, #search-profile .search-section {
	overflow-y: scroll;
}

#search-profile .result-section .table {
	border: 1px solid #244A91;
}

#search-profile .result-section .table thead {
	background-color: #244A91;
	color: #FFF;
}

#search-profile .result-section .table td, #search-profile .result-section .table thead th {
	border: 0px;
	border-top: 1px solid #577dc4;
}

#search-profile .result-section .table .btn {
	width: 100%;
}

#search-profile .search-section li {
	list-style-type: none;
}

#search-profile .search-section ul, #search-profile .search-section .indent {
	padding-left: 10px;
}

#search-profile .search-section p {
	font-size: 1.15em;
	margin-bottom: 0px;
}

#search-profile .search-section .form-control {
	width: 200px;
}

#search-profile .search-section .collapse-trigger {
	cursor: pointer;
	cursor: hand;

	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

#search-profile .search-section .collapsee {
	padding-bottom: 5px;
}

#search-profile .search-section li {
	margin: 5px 0px 5px 0px;
}