body{
	background-color: #A0BCF0;
}

.login-panel {
	position: absolute;
	display: inline-block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
	
	width: 500px;
	height: 230px;
}

.login-panel .panel-heading, .login-button, .navbar-srms {
	background-color: #244A91
}

.form-control {
	margin-bottom: 10px;
}

.login-button {
	float: right;
}

.navbar-brand {
	color: #fff;
	font-size: 1.5em;
}

.nav-tabs li a {
	background-color: #e6e6e6;
}

.software-body, .nav-tabs li.active a, .nav-tabs li a:hover {
	background-color: #fff;
}

.software-body {
	height: 800px;
}

.content {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}