body{
	background-color: #A0BCF0;
}

.inline {
	display: flex;
	flex-direction: row;
}

.space-between {
	justify-content: space-between;
}

.space-around {
	justify-content: space-around;
}

.center-align {
	align-items: center;
}

/* Login */

.login-panel {
	position: absolute;
	display: inline-block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
	
	width: 300px;
	height: 170px;
}

.login-panel .panel-title {
	font-size: 1.3em;
	text-align: center;
}

.login-panel .panel-heading, .login-button, .navbar-srms {
	background-color: #244A91;
}

.navbar-srms {
	padding: 0px 5% 0px 5%;
	margin-bottom: 20px;
}

.login-panel .form-control{
	margin-bottom: 10px;
	padding: 5px;
	height: 2em;
	width: 250px;
	font-size: 1em;
}

.login-panel .login-button {
	height: 2em;
	float: right;
	font-size: 1em;
	padding: 3px 12px 3px 12px;
}

.login-panel .panel-body {
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-panel .credential-warning {
	font-size: 0.9em;
	color: #FF0000;
}

/* Main */

.navbar-brand {
	color: #fff;
	font-size: 1.3em;
}

.navbar-logout {
	float: right;
}

.navbar-logout {
}

.nav-tabs {
	border: 0px;
}

.nav-tabs li a {
	background-color: #e6e6e6;
	font-size: 1em;
	padding: 5px 10px 5px 10px;
}

.nav-tabs li a, .nav-tabs li a:hover {
	border: 1px solid #244A91;
}

.software-body, .nav-tabs li.active a, .nav-tabs li a:hover {
	background-color: #fff;
}

.software-body {
	height: 75vh;
	padding-left: 0px;
	padding-right: 0px;
}

.content {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

#s-profile-frame, #s-report-frame {
	overflow-y: hidden;
}

#a-profile-frame, #a-report-frame {
	overflow-y: scroll;
}

.tabs {
	padding: 0px;
}

.navbar-logout {
	color: #fff;
	font-size: 1em;
}

.navbar-logout #log-out-button {
	text-decoration: none;
	margin: 0px 5px 0px 5px;
}

.navbar-logout #log-out-button:hover {
    border-bottom:1px solid #fff; 
}

.button-as-link {
    background:none!important;
    border:none; 
    padding: 0px !important;
    font: inherit;
    cursor: pointer;
}