body {
	background-color: #0F2965;
}

.login-panel {
	position: absolute;
	display: inline-block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
	
	width: 500px;
	height: 230px;
}

.form-control {
	margin-bottom: 10px;
}

.login-button {
	float: right;
}